<?xml version="1.0"?>
<config>
	<category>
		<main>post</main>
		<sub>latest</sub>
	</category>
	<name>
		<en>Post with Image 2</en>
		<ko>최근 글 (사진포함)</ko>
	</name>
	<version>0.2</version>
	<author>x-team</author>
	<email>withcenter</email>
	<homepage>http://www.philgo.net</homepage>
	<demo>http://philgo.net</demo>
	<short>
		<en>Displays latest posts</en>
		<ko>최근코멘트를 표시합니다.</ko>
	</short>
	<detail>
		<en>displays latest post with an image</en>
		<ko>최근 코멘트를 표시합니다.</ko>
	</detail>
</config>
